:7000 {
    respond "
                         / ___|__ _  __| | __| |_   _  / ___|| |_ __ _ _ __| |_ ___  __| | |
                        | |   / _` |/ _` |/ _` | | | | \___ \| __/ _` | '__| __/ _ \/ _` | |
                        | |__| (_| | (_| | (_| | |_| |  ___) | || (_| | |  | ||  __/ (_| |_|
                         \____\__,_|\__,_|\__,_|\__, | |____/ \__\__,_|_|   \__\___|\__,_(_)
                                                |___/                                       "
    reverse_proxy * localhost:8080
}

